@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900;1000&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}




/* ========common style======= */

.container{
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
    /* border: 2px solid; */
}


/* =====Navbar section start====== */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-bar{
    display: flex;
    align-items: center;
    padding: 40px 5px;
}

.title-bar h1{
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
}
.important{
    color: #FF5400;
}

.navbar-section ul {
    display: flex;
}
.navbar-section ul li{
    list-style: none;
}
.navbar-section li a{
    padding: 0 20px ;
    color:#424247;
    text-align: center;
    font-size: 1.15rem;
    text-decoration: none;
}
.navbar-section .first-ancor{
    color: #FF5400;
}
.navbar-section ul li:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
#hamburger-icon{
    margin: auto 0;
    display: none;
    cursor: pointer;
    background-color: #FF5400;
}
#hamburger-icon div{
    width: 35px;
    height: 35px;
    height: 3px;
    background-color: aliceblue;
    margin: 6px;
    transition: 0.4s;
}

#hamburger-icon ul li{
    list-style: none;
    background-color: rgba(236, 98, 29, 0.9);
    padding: 10px;
    margin: 2px;
    border-radius: 10px;
}
#hamburger-icon li a{
    padding: 0 20px ;
    color:#424247;
    font-size: 1.15rem;
    text-decoration: none;
    font-size: 700;
    color: aliceblue;
}
#hamburger-icon ul li:hover{
    background-color: #FF5400;
    transform: scale(1.1);
    transition: 0.3s;
}
.open .bar1{
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}
.open .bar2{
    opacity: 0;
}
.open .bar3{
    -webkit-transform: rotate(-45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}
.open .mobile-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.mobile-menu{
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh-50px);
    width: 100%;
}

/* ============Explore our Travel section start+========= */
.banner-background{
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(./Images/bridge.png);
    background-repeat: no-repeat;
    border-radius: 16px;
    height: 500px;
    
}

.banner-background h1{
    color: #FFF;
    font-size: 3.5rem;
    font-weight: 800;
    text-align: center;
    padding-top: 4rem;
    padding-bottom:  1rem;
}
.banner-background p{
    color: #FFF;
    text-align: center;
    padding-top: 2rem;
    padding-left: 16rem;
    padding-right: 16rem;
}
.seraching{
    display: flex;
    justify-content: space-between;
    padding:20px;
    gap: 15px;
    border-radius: 8px;
    width: 75%;
    margin: 70px auto;
    background-color: rgba(252, 248, 248, 0.5);
    

}
.seraching select, input, button{
    width: 174px;
    height: 60px;
    border-radius: 10px;
    text-align: center;
    color: rgba(19, 19, 24, 0.4);
    outline: none;
    border: none;
    font-size: 20px;

}
.seraching select option{
    color: #FF5400;
}
.seraching button{
    color: white;
    background-color: #FF5400;
}










/* responsive for Mobile devices */
@media screen and (max-width: 600px) {
    .navbar-section{
        display: none;
    }
    #hamburger-icon{
        display: block;
    }
    .banner-background{
        height: auto;
        object-fit: cover;
        background-position: center;
    }
    .seraching{
        flex-direction: column;
    }
    .banner-background h1{
        font-size: 2rem;
        font-weight: 800;
        text-align: center;
        padding-top: 1rem;
        padding-bottom:  .5rem;
    }
    .banner-background p{
        text-align: center;
        padding-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .seraching{
        margin: 5px auto;
    }
    .seraching select, input, button{
        width: 100%;
    }


}